@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Montserrat';
	src: url('/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Banigar';
	src: url('/Banigar.otf');
}

* {
	font-family: 'Montserrat', sans-serif;
}

* {
	user-select: none;
}

.titlebar-logo-text {
	letter-spacing: 0.05em;
	font-family: 'Banigar';
	color: white;
}
