@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Akira Expanded';
	src: url('/akira-expanded.otf');
}

* {
	user-select: none;
}

.font-fancy {
	font-family: 'Akira Expanded', sans-serif;
}
