@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Montserrat';
	src: url('/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Banigar';
	src: url('/Banigar.otf');
}

* {
	font-family: 'Montserrat', sans-serif;
}

* {
	user-select: none;
}

.titlebar-logo-text {
	letter-spacing: 0.05em;
	font-family: 'Banigar';
	color: white;
}

.loading-bar::before {
	background: linear-gradient(
		90deg,
		var(--m3-primary-40) 0%,
		var(--m3-primary-40) 30%,
		transparent 31%
	);
}

@media (prefers-color-scheme: dark) {
	.loading-bar::before {
		background: linear-gradient(
			90deg,
			var(--m3-primary-80) 0%,
			var(--m3-primary-80) 30%,
			transparent 31%
		);
	}
}
